body{
    background-color: rgb(201, 167, 143);
}
h1{
    background-color: rgb(81, 7, 22);
    color: beige;
}
#título-uno {
    background-color: rgb(168, 15, 10);
    color: black;
}
.título-tres{
    background-color: rgb(74, 74, 177);
    color: beige;
}